.product-image {      
  width: 100%;
  height: auto;
  object-fit: cover;
} 

.text-center {
  text-align: center !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.app-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

