.product-image {      
  width: 100%;
  height: auto;
  object-fit: cover;
} 

.product-item {
  border: 1px solid #33B5E5;
}

.text-center {
  text-align: center !important;
}

.fw-bolder {
  font-weight: bolder !important;
}
