.page-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; 
    margin: 0 auto;
}
  
.items-wrapper {
    max-width: 40%;
    margin-top: 50px;
}

.items-container, .total-cost {
    width: 100%;
    font-family: Arial, sans-serif; 
    font-size: 18px;
}

.items-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}


.item-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40em;
    box-sizing: border-box;  
    border: 1px solid #dcdcdc;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 16px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.item-box:nth-child(3n) {
    margin-right: 0;
}

.item-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.items-container img {
    width: 10em;
    height: 15em;
    margin-right: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

.item-details p {
    margin: 8px 0; 
    padding: 0; 
    font-size: 14px; 
    color: #333; 
}

.item-details p:nth-child(1) {
    font-weight: 600; 
}

.item-details p:nth-child(2) {
    font-size: 15px; 
    font-weight: 500; 
    color: #007bff; 
}

.item-details p:not(:last-child) {
    border-bottom: 1px solid #e5e5e5; 
    padding-bottom: 8px; 
}

.total-cost {
    font-size: 50px;
}

.form-container {
    margin-left: 10px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin-top: 50px; 
}


.form-container label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


.form-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}

.item-details button {
    width: 10em;
    padding: 0.5em; 
    background-color: #f44336; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.item-details button:hover {
    background-color: #e53935; 
}

.item-details button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.5); 
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;  
    text-align: center; 
    font-family: Arial, sans-serif;
}

.empty-cart-img {
    max-width: 300px; 
    margin-bottom: 20px;
}

.empty-cart-message {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
}

.shop-link {
    font-size: 16px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.shop-link:hover {
    background-color: #0056b3;
}
