
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px; 
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 360px) {
  .product-grid {
    display: grid;
  }
}