
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 100px; /* adjust this to control space between products */
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 360px) {
  .product-grid {
    display: grid;
  }
}